#map {
    height: 600px;
    width: 800px;
    margin: auto;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    border-radius: 2%;
}

@font-face { font-family: Perfect fonts; src: url('font/Perfect_fonts_CC.ttf'); }

body {
    padding-top: 50px;
    background-color: rgb(251,240,228);
    font-family: 'Perfect fonts', cursive;
    font-size: large;
}

#input {
    display: inline-flex;
    margin-top: 1%;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
    color: rgb(120,104,90);
    font-size: 20px;
    margin-top: -20px;
}

#from-input {
    /*margin-top: -1%;*/
    display: inline-flex;
    margin-bottom: 5%;
    width: 300px;
    font-family: 'Arial', cursive;
}

#to-input {
    width: 300px;
    /*margin-top: -1%;*/
    display: inline-flex;
    margin-bottom: 2%;
    font-family: 'Arial', cursive;
}

.input-text {
    margin-left: 5%;
    margin-right: 5%;
    width: 20px;
    font-weight: bold;
}

.badge {
    position: absolute;
    width: 500px;
    border-radius: 50%;
    transform: rotate(-50deg);
    background-color: rgb(251,240,228);
    margin-top: -120px;
    margin-left: -160px;
}

h2 span {
    position: absolute;
    height: 200px;
    width: 20px;
    left: 0;
    top: 0;
    transform-origin: bottom center;
    font-weight: bold;
    font-size: 25px;
    color: rgb(120,104,90);
    /*background-color: rgb(251,240,228);*/
}

/*transform caracters for fun*/

.char1 {
    transform: rotate(6deg);
}

.char2 {
    transform: rotate(12deg);
}

.char3 {
    transform: rotate(18deg);
}

.char4 {
    transform: rotate(24deg);
}

.char5 {
    transform: rotate(30deg);
}

.char6 {
    transform: rotate(36deg);
}

.char7 {
    transform: rotate(42deg);
}

.char8 {
    transform: rotate(48deg);
}

.char9 {
    transform: rotate(54deg);
}

.char10 {
    transform: rotate(60deg);
}

.char11 {
    transform: rotate(66deg);
}

.char12 {
    transform: rotate(72deg);
}

.char13 {
    transform: rotate(78deg);
}

.char14 {
    transform: rotate(84deg);
}

.char15 {
    transform: rotate(90deg);
}

.char16 {
    transform: rotate(96deg);
}

.char17 {
    transform: rotate(102deg);
}

.char18 {
    transform: rotate(108deg);
}

.char19 {
    transform: rotate(114deg);
}

.char20 {
    transform: rotate(120deg);
}

.char21 {
    transform: rotate(126deg);
}

.char22 {
    transform: rotate(132deg);
}

.char23 {
    transform: rotate(138deg);
}

.char24 {
    transform: rotate(144deg);
}

h3 {
    position: relative;
    margin-top: -0.8%;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(251,240,228);
}

.resize-img {
    margin-top: 4%;
    width: 200px;
    position: relative;
    margin-left:-20px;
    z-index: -1;
}

.radio {
    position: relative;
    margin-right: 250px;
    margin-top: -15px;
    margin-bottom: 20px;
}

#trajet {
    font-family: 'Merienda', cursive;
    position: relative;
    bottom: 570px;
    left: 520px;
}